{% extends "_base.html" %}

{% load i18n %}

{% block head_title %}E-mail Addresses - {{ DEFAULT_PAGE_TITLE }}{% endblock %}

{% block content %}
  {% include 'users/components/settings_header.html' %}
  {% with user.emailaddress_set.all as emailaddress_list %}
    {% if emailaddress_list %}
      <div class="table">
        <table>
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for emailaddress in emailaddress_list %}
              <tr>
                <th scope="row">{{ emailaddress.email }}</th>
                <td>
                  {% if emailaddress.primary %}
                    {% trans "Primary" %}
                  {% elif emailaddress.verified %}
                    {% trans "Verified" %}
                  {% else %}
                    {% trans "Unverified" %}
                  {% endif %}
                </td>
                <td>
                  <form action="{% url 'account_email' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{ emailaddress.email }}">
                    {% if emailaddress.verified and not emailaddress.primary %}
                      <button class="small" name="action_primary">{% trans 'Make primary' %}</button>
                    {% endif %}
                    {% if not emailaddress.verified %}
                      <button class="small" name="action_send">{% trans 'Re-send verification' %}</button>
                    {% endif %}
                    <button class="small" name="action_remove">{% trans 'Remove' %}</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>
        {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
      </p>
    {% endif %}
  {% endwith %}

  {% if can_add_email %}
    <hr>
    <form method="post" action="{% url 'account_email' %}">
      <h2 class="display-4">{% trans "Add email address" %}</h2>
      {% csrf_token %}
      {% include 'snippets/form.html' %}
      <button name="action_add">Add email</button>
    </form>
  {% endif %}
{% endblock %}
