{% extends "_base.html" %}

{% load i18n %}

{% block head_title %}E-mail Addresses - {{ DEFAULT_PAGE_TITLE }}{% endblock %}

{% block content %}
  {% include 'users/components/settings_header.html' %}
  {% with user.emailaddress_set.all as emailaddress_list %}
    {% if emailaddress_list %}
      {% for emailaddress in emailaddress_list %}
        <div class="email-card" >
          <div>
            <h2>{{ emailaddress.email }}</h2>
            {% if emailaddress.primary %}
              <p>{% trans "Primary" %}</p>
            {% elif emailaddress.verified %}
              <p>{% trans "Verified" %}</p>
            {% else %}
              <p>{% trans "Unverified" %}</p>
            {% endif %}
          </div>
          <form action="{% url 'account_email' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ emailaddress.email }}">
            {% if emailaddress.verified and not emailaddress.primary %}
              <button name="action_primary">{% trans 'Make primary' %}</button>
            {% endif %}
            {% if not emailaddress.verified %}
              <button name="action_send">{% trans 'Re-send verification' %}</button>
            {% endif %}
            <button name="action_remove">{% trans 'Remove' %}</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>
        {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
      </p>
    {% endif %}
  {% endwith %}

  {% if can_add_email %}
    <hr>
    <form method="post" action="{% url 'account_email' %}">
      <h2 class="display-4">{% trans "Add email address" %}</h2>
      {% csrf_token %}
      {% include 'snippets/form.html' %}
      <button name="action_add">Add email</button>
    </form>
  {% endif %}
{% endblock %}
