{% extends '_base.html' %}

{% load static %}
{% load core %}

{% block title %}Login - {{ DEFAULT_PAGE_TITLE }}{% endblock title %}

{% block content %}
  <form method="post" class="auth-form">
    <h1>Login</h1>
    {% csrf_token %}
    {% include 'snippets/form.html' %}
    <button class="button">Login</button>
    <p>Forgot your password? <a href="{% url 'account_reset_password' %}">Reset password</a></p>
    <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p>
  </form>
{% endblock content %}

{% block footer %}{% endblock footer %}
