{% extends '_base.html' %}

{% load static %}
{% load core %}
{% load crispy_forms_tags %}

{% block title %}Log in - {{ PAGE_TITLE }}{% endblock %}

{% block content %}
  <div class="row justify-content-center my-7">
    <div class="col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-header fw-bold">Login</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex align-items-center mt-4">
              <button type="submit" class="btn btn-primary me-4">Login</button>
              <a class="small" href="{% url 'account_reset_password' %}">Forgot password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
