{% extends '_base.html' %}

{% load static %}
{% load core %}
{% load crispy_forms_tags %}

{% block title %}Log in - {{ PAGE_TITLE }}{% endblock %}

{% block header %}{% endblock header %}

{% block fullscreen_content %}
  <div class="container">
    <div class="row justify-content-center align-items-center gy-5 gx-md-5 flex-column-reverse flex-md-row vh-100">
      <div class="col-md-6 col-lg-4">
        <h2 class="mb-3">Login</h2>
        <p class="small text-muted mb-5">Simplify your workflow in minutes.</p>
        {% crispy form %}
        <p class="text-center small mb-0 mt-3">
          <a class="#" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'images/login-illustration-3.svg' %}" class="w-100 d-block" alt="Login">
      </div>
    </div>
  </div>
{% endblock fullscreen_content %}

{% block footer %}{% endblock footer %}
