{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password - {{ PAGE_TITLE }}{% endblock title %}

{% block content %}
  <div class="row justify-content-center my-5 my-md-7">
    <div class="col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-header">
          <h5 class="my-2">{% if token_fail %}Bad token{% else %}Change password{% endif %}</h5>
        </div>
        <div class="card-body">
          {% if token_fail %}
            <p class="card-text">The password reset link was invalid. Perhaps it has already been used? Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
          {% elif form %}
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary mt-2">Change password</button>
            </form>
          {% else %}
            <p class="card-text">Your password is now changed.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
