{% extends '_base.html' %}

{% block title %}Change Password - {{ DEFAULT_PAGE_TITLE }}{% endblock title %}

{% block content %}
  <form method="post" class="auth-form">
    <h1>Change password</h1>
    {% if token_fail %}
      <p>The password reset link was invalid. Perhaps it has already been used?</p>
      <p>Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
    {% elif form %}
      {% csrf_token %}
      {% include 'snippets/form.html' %}
      <button class="button">Change password</button>
    {% else %}
      <p>Your password is now changed.</p>
    {% endif %}
  </form>
{% endblock content %}
