{% extends '_base.html' %}

{% load i18n %}

{% block title %}Change Password - {{ DEFAULT_PAGE_TITLE }}{% endblock %}

{% block content %}
  {% include 'users/components/settings_header.html' %}
  <section class="heading">
    <h2 class="display-4">{% trans "Change password" %}</h2>
  </section>
  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {% include 'snippets/form.html' %}
    <button class="button">{% trans "Change password" %}</button>
  </form>
{% endblock content %}
