{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Done - {{ PAGE_TITLE }}{% endblock title %}

{% block content %}
  <div class="row justify-content-center my-7">
    <div class="col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-header fw-bold">Password reset done</div>
        <div class="card-body">
          <p class="card-text">Your password has been successfully changed.</p>
          <p class="card-text"><a href="{% url 'account_login' %}">Login to your account</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
