*
!apps/
!config/
!templates/
!locale/
!manage.py

# Static files
!static/
static/dist/**/*

# Python requirements
!requirements/

# Pytest configuration
!conftest.py
!pytest.ini

# Front-end assets
!assets/
!package*.json
!rollup.config.mjs
