*
!apps/
!config/
!templates/
!locale/
!manage.py

# Static files
!static/
static/dist/**/*

# Media files (only in development)
media/

# Python requirements
!requirements/

# Pytest configuration
!conftest.py
!pytest.ini

# Front-end assets
!assets/
!package*.json
!webpack.config.js
