# OSX #
.DS_Store

# Django #
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment #
venv/
.venv/
env/

# Dependencies #
node_modules/

# JetBrains tools #
.idea/

# Environment variables #
.env

# JavaScript & CSS bundles #
backend/static/dist

# Terraform project #
infrastructure/
