# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment #
venv/
.venv/
env/

# Dependencies #
node_modules/

# IDE #
.vscode/
.idea/

# Environment variables #
.env
.env.prod

# JavaScript & CSS bundles
static/dist

# Test coverge
.coverage
htmlcov/
