region             = "ap-southeast-1"
availability_zones = ["ap-southeast-1a", "ap-southeast-1b"]
docker_image_name  = "rahmanfadhil/websitex:2.6"
project_name       = "websitex"
environment        = "production"

# TODO: Change this to your own values
ses_email_address = null
domain_name       = null
certificate_arn   = null
sentry_dsn        = null
