{% extends '_base.html' %}

{% load i18n %}
{% load core %}

{% block title %}{% trans "Login" %} - WebsiteX{% endblock title %}

{% block content %}
  <form action="" method="post" class="max-w-xs mx-auto my-8 md:my-16">
    <h1 class="text-2xl font-extrabold text-stone-800">{% trans "Password changed!" %}</h1>
    <hr class="mt-2 mb-8">
    <p class="text-sm text-stone-500 mb-8">
      {% trans 'Your password has been set. You may go ahead and log in now.' %}
    </p>
    <a href="{% url 'login' %}" class="btn w-full">{% trans "Log in" %}</a>
  </form>
{% endblock content %}
