{% extends '_base.html' %}

{% load i18n %}
{% load static %}
{% load core %}

{% block content %}
  <div class="max-w-screen-md xl:max-w-screen-lg mx-auto py-16 text-center px-4 md:px-0">
    <h1 class="text-gray-800 text-4xl xl:text-5xl font-black leading-tight xl:leading-tight mb-10">
      {% trans "A Complete Django template for production web applications" %}
    </h1>
    <div class="flex gap-6 justify-center">
      <a href="{% url 'users:login' %}" class="btn text-lg px-6 py-3">{% trans "Get started" %}</a>
      <a href="https://github.com/rahmanfadhil/websitex" class="btn-white text-lg px-6 py-3">{% trans "View GitHub" %}</a>
    </div>
  </div>
{% endblock content %}
