{% extends '_email.html' %}

{% load account %}
{% load i18n %}

{% block content %}
  {% user_display user as user_display %}
  {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    <h1>Hello from {{ site_name }}!</h1>
    <p>You're receiving this e-mail because user <strong>{{ user_display }}</strong> has given your e-mail address to register an account on <strong>{{ site_domain }}</strong>.</p>
  {% endblocktrans %}
  {% include 'components/email_button.html' with url=activate_url label='Confirm email' %}
{% endblock content %}
