{% extends '_email.html' %}

{% load i18n %}

{% block content %}
  {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    <h1>Hello from {{ site_name }}!</h1>
    <p>We've received a request to reset your password. If you didn't make this request, you can safely ignore this email. Otherwise, click the button below to reset your password.</p>
  {% endblocktrans %}
  {% include 'components/email_button.html' with url=password_reset_url label='Reset your password' %}
{% endblock content %}
