{% load core %}
{% load i18n %}

<section class="heading">
  <h1 class="display-2">{% trans "My account" %}</h1>
</section>
<nav class="tabs">
  {% is_link_active 'users:user_update' as is_profile_active %}
  <a class="{% if is_profile_active %}active{% endif %}" {% if is_profile_active %}aria-current="page"{% endif %} href="{% url 'users:user_update' %}">{% trans "Profile" %}</a>
  {% is_link_active 'account_email' as is_emails_active %}
  <a class="{% if is_emails_active %}active{% endif %}" {% if is_emails_active %}aria-current="page"{% endif %} href="{% url 'account_email' %}">{% trans "Emails" %}</a>
  {% is_link_active 'account_change_password' as is_security_active %}
  <a class="{% if is_security_active %}active{% endif %}" {% if is_security_active %}aria-current="page"{% endif %} href="{% url 'account_change_password' %}">{% trans "Security" %}</a>
</nav>
