// Libraries
@import "~trix/dist/trix.css";
@import "~notyf/notyf.min.css";

// Font
@import "~@fontsource/commissioner/variable.css";

// Custom variables
@import "./variables.scss";

// Bootstrap
@import "./bootstrap.scss";

// Crispy forms

.asteriskField {
  display: none;
}

// Blog

.blog-content {
  font-size: $font-size-lg;

  .richtext-image {
    margin: $spacer * 2 0;
  }

  .full-width {
    width: 100%;
  }
}
