@import "./variables.scss";
@import "./bootstrap.scss";

// DJANGO CRISPY FORMS
// -----------------------------------------------------------------------------

.asteriskField {
  color: $danger;
  margin-left: map-get($map: $spacers, $key: 1);
}

// FLATPICKR
// -----------------------------------------------------------------------------

.form-control.datetimeinput[readonly],
.form-control.dateinput[readonly] {
  background-color: $input-bg;
  opacity: initial;
}

// TRIX EDITOR
// -----------------------------------------------------------------------------

trix-toolbar {
  margin-top: map-get($map: $spacers, $key: 4);
}

trix-editor {
  min-height: 230px;
  margin-bottom: map-get($map: $spacers, $key: 4);
}

// FEATHER
// -----------------------------------------------------------------------------

.feather {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-bold {
  stroke-width: 3;
}
