// FONTS
// -----------------------------------------------------------------------------

@import "~@fontsource/commissioner/variable.css";

// PLUGINS
// -----------------------------------------------------------------------------

@import "~notyf/notyf.min.css";
@import "~flatpickr/dist/flatpickr.min.css";
@import "~@yaireo/tagify/src/tagify.scss";
@import "~trix/dist/trix.css";

// BOOTSTRAP
// -----------------------------------------------------------------------------

@import "./variables.scss";
@import "./bootstrap.scss";

// DJANGO CRISPY FORMS
// -----------------------------------------------------------------------------

label.requiredField {
  font-weight: bold;
}

.asteriskField {
  display: none;
}

// FLATPICKR
// -----------------------------------------------------------------------------

.form-control.datetimeinput[readonly],
.form-control.dateinput[readonly] {
  background-color: $input-bg;
  opacity: initial;
}

// TRIX EDITOR
// -----------------------------------------------------------------------------

trix-toolbar {
  margin-top: map-get($map: $spacers, $key: 4);
}

trix-editor {
  min-height: 230px;
  margin-bottom: map-get($map: $spacers, $key: 4);
}

// FEATHER
// -----------------------------------------------------------------------------

.feather {
  width: 0.9em;
  height: 0.9em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-bold {
  stroke-width: 3;
}
