@import "modern-normalize/modern-normalize.css";
@import "@fontsource/lexend/variable.css";

@import "./navbar.css";
@import "./forms.css";
@import "./alert.css";
@import "./utils.css";
@import "./modal.css";
@import "./hero.css";

:root {
  --white: #fff;
  --text: #1f2937;
  --border: #ccc;
  --blue: #2563eb;
  --background: #f9fafb;
  --secondary: #6b7280;
  --red: #ef4444;

  --container-width: 1024px;
}

body {
  background-color: var(--background);
  font-family: "LexendVariable", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text);
  line-height: 1.5;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1,
.heading-1 {
  font-size: 2.5rem;
}

h2,
.heading-2 {
  font-size: 2rem;
}

h3,
.heading-3 {
  font-size: 1.75rem;
}

h4,
.heading-4 {
  font-size: 1.5rem;
}

h5,
.heading-5 {
  font-size: 1.25rem;
}

h6,
.heading-6 {
  font-size: 1rem;
}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
  margin-bottom: 0.75rem;
}

.heading p {
  color: var(--secondary);
  margin-bottom: 2rem;
}

hr {
  border: 0;
  border-top: 2px solid var(--border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#main-content {
  padding-bottom: 3rem;
}

form section.invalid input,
form section.invalid textarea,
form section.invalid select {
  border-color: var(--red);
}

.errorlist {
  color: var(--red);
}
