.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.modal.open {
  display: block;
}

.modal__content {
  background-color: var(--white);
  border: 2px solid var(--text);
  padding: 1.5rem;
  max-width: 450px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
  position: relative;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}

.modal__title {
  margin-bottom: 0.75rem;
}

.modal__subtitle {
  margin-bottom: 1.5rem;
}
