.container {
  max-width: var(--container-width);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* https://getbootstrap.com/docs/5.1/helpers/visually-hidden/ */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
