{% extends "_base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <div class="max-w-screen-md xl:max-w-screen-lg mx-auto py-16 grid md:grid-cols-3 gap-8 px-4">
    {% for post in page.get_children %}
      <div class="bg-white shadow-md p-6 rounded-md flex flex-col gap-4">
        <a href="{% pageurl post %}" class="text-2xl hover:text-blue-700">{{ post.title }}</a>
        <p class="text-gray-500">{{ post.specific.intro }}</p>
        <time datetime="{{ page.date|date:'Y-m-d' }}">{{ post.specific.date }}</time>
      </div>
      <div class="bg-white shadow-md p-6 rounded-md flex flex-col gap-4">
        <a href="{% pageurl post %}" class="text-2xl hover:text-blue-700">{{ post.title }}</a>
        <p class="text-gray-500">{{ post.specific.intro }}</p>
        <time datetime="{{ page.date|date:'Y-m-d' }}">{{ post.specific.date }}</time>
      </div>
      <div class="bg-white shadow-md p-6 rounded-md flex flex-col gap-4">
        <a href="{% pageurl post %}" class="text-2xl hover:text-blue-700">{{ post.title }}</a>
        <p class="text-gray-500">{{ post.specific.intro }}</p>
        <time datetime="{{ page.date|date:'Y-m-d' }}">{{ post.specific.date }}</time>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
