{% extends "_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }} - WebsiteX{% endblock title %}

{% block content %}
  <div class="max-w-screen-md lg:max-w-screen-lg mx-auto py-16 grid md:grid-cols-2 xl:grid-cols-3 gap-8 px-4 md:px-0">
    {% for post in page.get_children %}
      <div class="bg-white shadow rounded-md overflow-hidden">
        {% image post.specific.thumbnail width-500 class='w-full h-48 object-cover' %}
        <div class="p-6 flex flex-col gap-4">
          <a href="{% pageurl post %}" class="text-xl font-extrabold text-stone-800 hover:text-amber-600">{{ post.title }}</a>
          <time datetime="{{ page.date|date:'Y-m-d' }}" class="text-stone-600 text-sm">{{ post.specific.date }}</time>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
