{% extends "_base.html" %}

{% load wagtailcore_tags %}

{% block content %}
  <div class="pb-5 mb-5 border-bottom">
    <h1>{{ page.title }}</h1>
    <p class="text-muted mb-0">{{ page.intro }}</p>
  </div>
  <div class="row">
    {% for post in page.get_children %}
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <a class="h4 stretched-link text-dark text-decoration-none" href="{% pageurl post %}">{{ post.title }}</a>
            <p class="mt-3 text-muted">{{ post.specific.intro }}</p>
            <time datetime="{{ page.date|date:"Y-m-d" }}">{{ post.specific.date }}</time>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
