{% load core %}

<div class="p-4 border bg-white border-stone-300 shadow rounded-md mt-2">
  {% if widget.is_initial %}
    <div class="flex justify-between flex-wrap gap-4 items-center text-sm">
      <a target="_blank" href="{{ widget.value.url }}" class="inline-flex items-center gap-2 text-amber-600 font-medium" aria-label="Current file">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd" />
        </svg>
        {{ widget.value.name|file_name }}
      </a>
      {% if not widget.required %}
        <div class="flex items-center gap-2">
          <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
          <label for="{{ widget.checkbox_id }}" class="font-medium text-sm text-stone-700">{{ widget.clear_checkbox_label }}</label>
        </div>
      {% endif %}
    </div>
    <hr class="my-4">
  {% endif %}
  <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</div>
