{% load static %}
{% load i18n %}
{% load core %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <title>{% block title %}{{ DEFAULT_PAGE_TITLE }}{% endblock title %}</title>

  <!-- PWA -->
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <meta name="theme-color" content="#1e293b">
  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

  <link rel="stylesheet" href="{% static 'dist/main.css' %}">
  <script defer src="{% url 'javascript-catalog' %}"></script>
  <script type="module" src="{% static 'dist/main.js' %}"></script>

  {% block head %}
    <!-- Primary Meta Tags -->
    <meta name="description" content="A framework for launching new Django projects quickly.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{{ DEFAULT_PAGE_TITLE }}">
    <meta property="og:description" content="A framework for launching new Django projects quickly.">
    <meta property="og:image" content="{% static 'images/og_image.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="{{ DEFAULT_PAGE_TITLE }}">
    <meta property="twitter:description" content="A framework for launching new Django projects quickly.">
    <meta property="twitter:image" content="{% static 'images/og_image.png' %}">
  {% endblock head %}
</head>

<body>
  <!-- Top navigation -->
  {% block header %}
    <nav class="navbar" role="navigation">
			<a href="{% url 'pages:home' %}" class="title">WebsiteX</a>
      <a class="visually-hidden-focusable" href="#main-content">{% trans "Skip to main content" %}</a>
      <button id="toggle" aria-expanded="false" aria-label="menu"></button>
      <div id="menu">
				<ul>
					<li><a href="{% url 'pages:home' %}">{% trans "Home" %}</a></li>
					<li><a href="{% slugurl 'blog' %}">{% trans "Blog" %}</a></li>
					<li><a href="{% url 'pages:about' %}">{% trans "About" %}</a></li>
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#">{% trans "My account" %}</a>
              <ul>
                <li><a href="{% url 'users:user_update' %}">{% trans "Settings" %}</a></li>
                <li><button data-toggle-modal="#logout-modal">{% trans "Log out" %}</button></li>
              </ul>
            </li>
          {% endif %}
					<li class="dropdown">
            {% get_current_language as LANGUAGE_CODE %}
            <a href="#">{{ LANGUAGE_CODE|upper }}</a>
            <ul>
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <li>
                  <button type="submit" form="language_form" name="language" value="{{ language.code }}">{{ language.name_local }}</button>
                </li>
              {% endfor %}
            </ul>
          </li>
				</ul>
        {% if user.is_anonymous %}
          <a href="{% url 'users:login' %}" class="button">{% trans "Sign up" %}</a>
        {% endif %}
      </div>
		</nav>

    <form action="{% url 'set_language' %}" method="post" id="language_form">
      {% csrf_token %}
    </form>

    <div class="modal" id="logout-modal" aria-hidden="true" tabindex="-1">
      <div class="modal__content">
        <button class="modal__close" aria-label="close" data-toggle-modal="#logout-modal"></button>
        <div class="heading">
          <h2>{% trans "Log out" %}</h2>
          <p>{% trans "Are you sure you want to log out?" %}</p>
        </div>
        <form action="{% url 'users:logout' %}" method="post">
          {% csrf_token %}
          <button class="button">{% trans "Log out" %}</button>
        </form>
      </div>
    </div>
  {% endblock header %}

  <!-- Main content -->
  <main id="main-content" class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert__{{ message.tags }}" role="alert">
          {{ message }}
          <button class="alert__close" aria-hidden="true"></button>
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock content %}
  </main>

  {{ page_data|json_script:"page_data" }}
</body>
</html>
