{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}DjangoX{% endblock title %}</title>
  <meta name="description" content="A framework for launching new Django projects quickly.">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="bg-light">
  <!-- Top navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
      <a class="navbar-brand font-weight-bold mr-5" href="{% url 'home' %}">DjangoX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="flex-grow-1"></div> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {% url 'home' as home_url %}
            <a class="nav-link" href="{{ home_url }}">Home {% if request.get_full_path == home_url %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            {% url 'about' as about_url %}
            <a class="nav-link" href="{{ about_url }}">About {% if request.get_full_path == about_url %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <form action="{% url 'account_logout' %}" method="POST" class="form-inline mt-3 mt-lg-0">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger rounded-pill">Log out</button>
        </form>
        {% else %}
          <div class="form-inline mt-3 mt-lg-0">
            <a href="{% url 'account_login' %}" class="btn btn-link text-dark rounded-pill">Log In</a>
            <a href="{% url 'account_signup' %}" class="btn btn-outline-dark rounded-pill ml-1">Sign Up</a>
          </div>
          {% endif %}
      </div>
    </div>
  </nav>
  
  <!-- Main container -->
  <div class="container mt-5">
    <!-- Alert messages -->
    {% if messages %}
      {% for message in messages %}
        <div class="mb-5 alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <!-- Main content -->
    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
  </div>

  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.5.1/dist/jquery.slim.min.js,npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
