{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}DjangoX{% endblock title %}</title>
  <meta name="description" content="A framework for launching new Django projects quickly.">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'dist/main.css' %}">
</head>

<body class="bg-light">
  <!-- Top navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md py-3">
      <a class="navbar-brand" href="{% url 'pages:home' %}">WebsiteX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% with request.resolver_match.url_name as url_name %}
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'pages:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'pages:about' %}">About</a>
            </li>
          {% endwith %}
        </ul>
        {% if user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown ml-auto">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i data-feather="user" class="me-2"></i> My account
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'users:user_update' %}">
                  <i data-feather="settings" class="me-2"></i> Settings
                </a>
                <hr class="dropdown-divider">
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item text-danger">
                    <i data-feather="log-out" class="me-2"></i> Log out
                  </button>
                </form>
              </ul>
            </li>
          </ul>
        {% endif %}
        {% if not user.is_authenticated %}
          <div class="d-flex">
            <a href="{% url 'account_login' %}" class="btn btn-outline-primary rounded-pill me-2" type="submit">Login</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary rounded-pill">Sign up</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    <!-- Alert messages -->
    {% if messages %}
      {% for message in messages %}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
          <div class="toast-container position-absolute top-0 end-0">
            <!-- Then put toasts within -->
            <div class="toast align-items-center {% if message.tags %}bg-{{ message.tags }}{% else %}bg-info{% endif %}" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="d-flex">
                <div class="toast-body text-light">{{ message }}</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <!-- Main container -->
  <div class="container mt-5">
    <!-- Main content -->
    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
  </div>

  <script src="{% static 'dist/main.js' %}"></script>
</body>
</html>
