{% extends '_base.html' %}

{% load i18n %}
{% load core %}

{% block title %}Login - WebsiteX{% endblock title %}

{% block content %}
  <div class="p-8 border bg-white shadow-md rounded-md max-w-md mx-4 md:mx-auto my-8 md:my-16">
    <h1 class="text-2xl font-bold text-gray-900">Login</h1>
    <p class="mt-4 mb-8 text-sm text-gray-500">Enter your email address and we will send you a link email to log in to your account.</p>
    <form action="" method="post">
      {% include 'components/forms/non_field_errors.html' %}
      <div class="flex gap-4 items-start">
        {% csrf_token %}
        {% form_field form.email placeholder='Enter your email' class='flex-1' %}
        <button class="btn">Login</button>
      </div>
      {% include 'components/forms/field_errors.html' with field=form.email %}
    </form>
  </div>
{% endblock content %}
