{% extends '_base.html' %}

{% load i18n %}
{% load core %}

{% block title %}{% trans "Login" %} - WebsiteX{% endblock title %}

{% block content %}
  <div class="max-w-md mx-auto my-8 md:my-16 px-4 sm:px-0">
    <div class="p-8 border bg-white shadow-md rounded-md">
      <h1 class="text-2xl font-semibold text-gray-800">{% trans "Login" %}</h1>
      <p class="mt-4 mb-8 text-gray-500">
        {% trans "Enter your email address and we will send you a link to log in to your account." %}
      </p>
      <form action="" method="post">
        {% include 'components/forms/non_field_errors.html' %}
        <div class="flex gap-4">
          {% csrf_token %}
          {% form_field form.email placeholder='Enter your email' class='flex-1' %}
          <button class="btn">{% trans "Login" %}</button>
        </div>
        {% include 'components/forms/field_errors.html' with field=form.email %}
      </form>
    </div>
    <p class="mt-8 text-gray-500 text-center">
      {% trans "Don't have an account yet?" %} <a href="{% url 'users:signup' %}" class="text-blue-600">{% trans "Sign up" %}</a>
    </p>
  </div>
{% endblock content %}
