{% extends '_base.html' %}

{% load i18n %}

{% block title %}Edit profile{% endblock %}

{% block content %}
  <div class="max-w-screen-md mx-auto py-8 px-5">
    <h1 class="text-2xl font-bold text-gray-800 mb-2">
      {% trans "My account" %}
    </h1>
    <p class="text-gray-500 mb-8">
      {% trans "Update your profile information" %}
    </p>
    <form action="" method="post" enctype="multipart/form-data">
      {% include 'snippets/form.html' %}
      <button class="btn">{% trans "Save changes" %}</button>
    </form>

    <h1 class="mt-10 border-t border-gray-300 pt-10 text-2xl font-bold text-gray-800 mb-2">
      {% trans "Delete account" %}
    </h1>
    <p class="text-gray-500 mb-8">
      {% trans "Deleting your account will remove all your information from our database." %}
    </p>

    <div x-data="{ open: false }" @keydown.escape="open = false">
      <button class="btn-red" @click="open = true">
        {% trans "Delete account" %}
      </button>

      <div x-cloak x-show="open" x-trap="open" class="fixed z-10 inset-0 overflow-y-auto flex items-center justify-center">
        <div class="fixed inset-0 bg-black opacity-30" @click="open = false"></div>
        <form action="{% url 'users:delete_user' %}" method="post" class="relative bg-white rounded overflow-hidden shadow-lg p-8 max-w-md w-full">
          {% csrf_token %}
          <h1 class="text-2xl font-bold text-gray-900 mb-4">
            {% trans "Delete account" %}
          </h1>
          <p class="text-gray-500 mb-8">
            {% trans "Once you delete your account, there is no going back. Please be certain." %}
          </p>
          <button class="btn-red">{% trans "Delete account" %}</button>
        </form>
      </div>
    </div>
  </div>


{% endblock content %}
