{% extends '_base.html' %}


{% block title %}Edit profile - {{ DEFAULT_PAGE_TITLE }}{% endblock %}

{% block content %}
  {% include 'users/components/settings_header.html' %}
  <h2 class="display-4">Basic information</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'snippets/form.html' %}
    <button>Save changes</button>
  </form>
  <hr>
  <h2 class="display-4">Delete account</h2>
  <p>Deleting your account will remove all your information from our database.</p>
  <button data-open-dialog="#delete-account-dialog">Delete account</button>
  <dialog id="delete-account-dialog">
    <button data-close-dialog class="icon" aria-label="Close"></button>
    <h1 class="display-3">Delete account?</h1>
    <p>Once you delete your account, there is no going back. Please be certain.</p>
    <form action="{% url 'users:user_delete' %}" method="post">
      {% csrf_token %}
      <button>Delete my account</button>
    </form>
  </dialog>
{% endblock content %}
