{% extends '_base.html' %}

{% load i18n %}

{% block title %}Edit profile - {{ DEFAULT_PAGE_TITLE }}{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5 mb-7">
    <div class="col-md-9">
      <h3>{% trans "My account" %}</h3>
      <p class="text-muted mb-5">{% trans "Update your profile information" %}</p>
      <form method="post" enctype="multipart/form-data">
        {% include 'snippets/form.html' %}
        <button class="btn btn-primary">{% trans "Save changes" %}</button>
      </form>
      <hr class="my-5">
      <h3 class="mt-5">{% trans "Delete account" %}</h3>
      <p class="text-muted mb-4">{% trans "Deleting your account will remove all your information from our database." %}</p>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
        {% trans "Delete account" %}
      </button>
      <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteAccountModalLabel">{% trans "Delete account" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{% trans "Once you delete your account, there is no going back. Please be certain." %}</p>
            </div>
            <form class="modal-footer" action="{% url 'users:user_delete' %}">
              {% csrf_token %}
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger">{% trans "Delete account" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
